* {
    font-family: Roboto, Helvetica, sans-serif;
}
body {
    background-color: #ddd;
}

header, main {
    width: 900px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 3px 5px 2px #ccc;
    padding: 20px 10px;
}

main {
    min-height: 80vh;
}
header {border-radius: 15px 15px 0px 0;}
header img {
    width: 150px;
    height: 150px;
    float:left;
    margin-right:25px
}
header h1 {
    font-size: 1.2em;
    margin: 0;
}
header h3 {
    margin: 5px 0 10px;
    font-style: italic;
    font-weight: normal;
    font-size: 1.0em;
}
header h4 {
    margin:5px 0;
    font-weight: normal;
    font-size: 0.75em;
}
main h4{
    text-align: center;
}
main li {
    margin-bottom: 20px;
    margin-right: 15px;
    line-height: 1.2em;
}
main input {
    width: 350px;
    border-radius: 4px;
    outline: none;
    border: 1px solid;
}